$color-blue: #1eb4f8;
$section-bg: rgba(135,199,255,.07);
$padding: 16px;

@mixin flex-container{
	display: -moz-flex;
	display: -webkit-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

@mixin box-sizing($border-box) {
 	box-sizing: $border-box;
    -webkit-box-sizing: $border-box;
    -moz-box-sizing: $border-box;
  	-ms-box-sizing: $border-box;
  	-o-box-sizing: $border-box;
}

body{
	background-color: #0b0c1a;
}
a{
	text-decoration:none;
}

li{
	list-style:none;
}

input{
	outline: none;
	border: 0;
}

button{
	border:0 ;
}

h1{
	color: #FFF;
}
.subTitle{
	font-size: 2em;
	color: #FFF;
	padding-left: $padding;
	line-height: 2em;
}

.btn{
	background-color: $color-blue;
	color: #fff;
	&:hover {
		background-color: #0bb3d6;
	}
}

.container{
	h1{
		margin-left: $padding;
	}
}

.home-bg{
	height: 500px;
	background-image: url("../imgs/cs-bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 3em;
}
.searchForm{
	margin-left: $padding;
	margin-bottom: 3em;
	input{
		padding: 1em;
		width: 200px;
	}
	button{
		padding: 1em;
		cursor: pointer;
		a{
			color: #FFF;
		}
	}
}

.avatar{
	display: block;
	float: left;
}
.userInfo{
	padding:$padding;
	background-color: $section-bg;
	margin-bottom: 3em;
	overflow:hidden;

	a{
		font-size: 36px;
		margin-left: $padding;
		color:#FFF;
		cursor: pointer;
		&:hover{
			color: $color-blue;
		}
	}
}

.overall-stats{
	padding: $padding;
	background-color: $section-bg;
	margin-bottom: 3em;
	color: #1883BE;
	ul >li{
		padding: 1em;
		@include flex-container;
	}
	b{
		color: #fff;
	}
}

.achievements-list{
	margin-bottom: 3em;
	background-color: $section-bg;
	padding-top: $padding;
	padding-bottom: $padding;
	padding-left: $padding;
	padding-right: $padding/2;
}

.achievement{
	position: relative;
	display: inline-block;
	padding-right: $padding/2;
	cursor: help;
	&:hover{
		// border: 1px solid $color-blue;
		.thumb{
			display: block;
		}
	}
}

.thumb{
	position: absolute;
	left: 32px;
	top: 32px;
	display: none;
	width: 300px;
	background-color: rgba(11,12,26,0.9);
	padding: 1em;
	color: #FFF;

	z-index: 3;
	dt{
		line-height: 2em;
	}
	dd{
		color: #e8e8e8;
		line-height: 2em;
		font-size: 0.8em;
	}
}

.footer{
	height: 150px;
	background-color: $section-bg;
	color: #FFF;
	padding: $padding;

	a{
		color: #FFF;
		cursor: pointer;
		&:hover{
			color: $color-blue;
		}
	}
}

.copyright{
	text-align: center;
	margin-top: 3em;
}
